body {
    overflow-x: hidden;
}

.btn-round { border-radius: 30px; }

.bg-homeWhite { background: #EFF9F0; }

/* --- Id's  --- */

#dark-text { color: #2D3047; }

#lighter-text { color: #EFF9F0; }

/* --- Containers --- */

.projektsContainer {
    background: #003053;
}

.aboutContainer {
    background: #2D3047;
}

.contactContainer {
    background: #A6823A;
}



/* --- Border classes --- */

.border {
    border-width: 15px !important;
}

.border-projekts {
    border-color: #00487B !important;
}

.border-about {
    border-color: #515577 !important;
}

.border-contact {
    border-color: #B79450 !important;
}


/* --- Carusel --- */

.padding-top {
    margin-top: 100px !important;
}


@media (min-width: 768px) {
    .h-md-100 { 
        height: 100vh;
    }
    #homeHeader {
        font-size: 80px;
    }

    #logo {
        text-align: left; 
    }

    
}