* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}


/* Utilities */
.background-purple{
    background-color:  #6613c5;
}

.purple-text {
    color: #430d82;
}

.white-text {
    color: #EFF9F0;

}

.dark-green-text {
    color: rgb(0, 89, 0);
}

.red-background {
    background-color: #F6133D;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 50px;
}

.phone-version {
    display: none;
}

/* Buttons*/
.btn-round {
    border-radius: 22.5px;
}

.overlay-home {
    opacity: 0.8;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.section-Header {
    background: #242424;
}

.inner-gradient-box {
    display: block;
    height: 30px;
    border-radius: 5px;
}

.bottom-line {
    height: 2px;
    width: 5rem;
    background: #EFF9F0;
    display: block;
    margin: 0 auto;
}



.parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }

    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
      }
      .navbar {
        padding: 0;
      }
      .navbar .navbar-brand {
        padding: 0 0.7em;
      }
}

/* mobile view */
@media (max-width:500px) {

    .navbar-nav .nav-item .nav-link {
        padding: 0.7em 1em !important;
        font-size: 100%;
        font-weight: 500;
    }

    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-heading {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .banner-sub-heading {
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }

    .nav-phone {
        visibility: hidden;
    }

    

}

@media (max-width:768px) {
    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-sub-heading {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }

    .nav-phone {
        visibility: hidden;
    }



}

.nav-phone {

    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding: 8px 30px 8px 30px;
}


/* Footer */
.footer {
    margin-top: 20vh;
}

.page-footer {
    height: 35vh;
}

footer h1 {
    font-size: 50px;
}

footer p {
    font-size: 20px;
}




/*Other*/
.unique-color-dark {
    background-color: #7289da !important;
}

.navbar-brand {
    color: white;
}

.custom-color {
    background-color: #7289DA !important
}



/* Slider transition */
/* About */
.slider-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    z-index: 200;
}

.slider-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    z-index: 200;
}

.slider-three {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    z-index: 200;
}

/* Scroll Down Icon */
@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.scroll-btn>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
    color: #ffffff;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #242424;
    border-radius: 23px;
}

.scroll-btn .mouse>* {
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #242424;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

/* Hide the scroll btn on Phones=*/
@media only screen and (max-width: 900px) {
    .scroll-btn {
        visibility: hidden;
    }
}

/* --- Homepage ---*/
/* Full Home Background */




/* ##################################*/
/* #####       About Page       #####*/
/* ##################################*/

/* --- Hero Section for About Page --- */
.card-hero {
    margin-top: 1vh;
    width: 100% !important;
    height: 80vh;
}

.about-hero-img {
    height: 70%;
    object-fit: cover;
}

.hero-background-mobile-version {
    position: absolute;
    top: 0;
    visibility: collapse;
}


.about-me-info-hero {
    background-color: #EFF9F0;
    margin-top: 25%;
    height: auto;
    border-radius: 40px 40px 0 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 25px 25px;
    z-index: 100;
}


.about-me-img-mobile {
    width: 20vh;
    height: 22.5vh;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}

/* Abaout Page: First Section - */

.about-mobile-after-hero-info {
    height: 0px;
    visibility: collapse;
}

.only-display-mobile{
    display: none;
}



/* #################
    About Page: Shape
   ################# */

section .about-shape-hero-background {
    position: absolute;
    top: 8%;
    right: -5%;
    z-index: 1;
    width: 100%;
    height: 100%;

    display: block;
}

.hero-background-behind-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
}

.background-mobile-version {
    visibility: collapse;
    position: absolute;
    top: 0;
    width: 0%;
    height: auto;
    z-index: -10;
}


section .about-shape-hero-left-plant {
    position: absolute;
    top: 3%;
    right: 32.5%;
    z-index: 1;
    width: 80%;
    height: 80%;
}

section .about-shape-hero-laptop {
    position: absolute;
    top: 80%;
    right: 58%;
    z-index: 2;
    width: 20%;
    height: 20%;
}

section .about-shape-hero-bag {
    position: absolute;
    top: 80%;
    right: 25%;
    z-index: 3;
    width: 20%;
    height: 20%;
}


section .about-shape-hero-bag-plant {
    position: absolute;
    top: 63%;
    right: 19%;
    z-index: 2;
    width: 20%;
    height: 20%;
}

section .about-shape-hero-palmleaf {
    position: absolute;
    top: 0%;
    right: 5%;
    z-index: 1;
    width: 40%;
    height: 40%;
}

section .about-shape-left-hanging-plant {
    position: absolute;
    top: -5%;
    left: -1%;
    z-index: -1;
}

.about-shape-palmleaf {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1;
    width: 100%;
    height: auto;

}

.about-shape-palmleaf2 {
    position: absolute;
    top: 110%;
    left: -1400px;
    z-index: -1;
}

.about-shape-bottom-plant {
    position: absolute;
    top: 220%;
    right: -100px;
    z-index: -1;
}

.about-shape-img-background {

    position: absolute;
    top: 50vh;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* About me Page: Who Am I - Section  */


.accordion .card {
    background: none;
    border: none;
}

.accordion .card .card-header {
    background: none;
    border: none;
    padding: .4rem 1rem;
    font-family: "Roboto", sans-serif;
}

.accordion .card-header h2 span {
    float: left;
    margin-top: 10px;
}

.accordion .card-header .btn {
    color: #2f2f31;
    font-size: 1.04rem;
    text-align: left;
    position: relative;
    font-weight: 500;
    padding-left: 2rem;
}

.accordion .card-header i {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 9px;
}

.accordion .card-header .btn:hover {
    color: #ff8300;
}

.accordion .card-body {
    color: #324353;
    padding: 0.5rem 0rem 0.5rem 3rem;
    font-size: 15px;
}

.page-title {
    margin: 2rem 0 2rem 1rem;
    font-family: "Roboto", sans-serif;
    position: relative;
}

.page-title::after {
    content: "";
    width: 80px;
    position: absolute;
    height: 3px;
    border-radius: 1px;
    background: #73bb2b;
    left: 0;
    bottom: -15px;
}

.accordion .highlight .btn {
    color: #74bd30;
}

.accordion .highlight i {
    transform: rotate(180deg);
}


/* About Page: Horizontal Skill Scrolling */

/* Large Screen Version */

/* Dont show the horizontal skills on large screen*/
.skills-lg-screen {
    display: none;
}

.progress-bar-success {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
    }
    .progress-bar-success {
    background-color: #108d6f   ;
    background-image: none;
    }

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 200px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.skill-container {
    padding-left: 0;
    padding-right: 0;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card-horizontal-skill {
    flex: 0 0 auto;
    display: inline-block;
    width: 15vh;
    height: 15vh;

}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.horizontal-icons {
    font-size: 8vh;
}



section p span {
    font-size: 50px;
    font-weight: bold;
}

.info-about-me {
    margin-top: 20vh;
    width: 100%;
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/1534172/pexels-photo-1534172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

    /* Set a specific height */
    height: 60vh;
    width: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: -580px;
}

/* About Page: Section C: Progress Bars  */
.about-progressbars-maegin-top {
    margin-top: 35vh;
}

.about-bottom-line {
    border: green;
    border-style: solid;
    height: 1px;
    width: 10%;
    margin: auto;
}

.lead {
    font-size: 30px !important;
}

.tile-progress {
    background-color: #303641;
    color: #fff;
}

.tile-progress {
    color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tile-progress .tile-header {
    padding: 15px 20px;
    padding-bottom: 40px;
}

.tile-progress .tile-progressbar {
    height: 2px;
    background: rgba(0, 0, 0, 0.18);
    margin: 0;
}

.tile-progress .tile-progressbar span {
    background: #fff;
}

.tile-progress .tile-progressbar span {
    display: block;
    background: #fff;
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.tile-progress .tile-footer {
    padding: 20px;
    text-align: right;
    background: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 3px 3px;
    -moz-background-clip: padding;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.tile-progress.tile-green {
    background-color: #00a65b;
    color: #fff;
}

.tile-progress.tile-blue {
    background-color: #5d63bf;
    color: #fff;
}


/* ##################################*/
/* #####    Perosnal Projekts   #####*/
/* ##################################*/

/* Hero */
.work-hero {
    margin-top: 5%;
    width: 100% !important;
    height: 80vh;
}

/* Section One: Card After Hero */
.work-me-info-hero {
    background-color: #EFF9F0;
    margin-top: 25%;
    height: 100%;
    border-radius: 40px 40px 0 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 25px 25px;
    z-index: 100;
}

section .work-shape-hero-background {
    position: absolute;
    top: 8%;
    right: -5%;
    z-index: 1;
    width: 100%;
    height: 100%;

    display: block;
}

.mobile-work-page-version {
    display: none;
}

/* Shapes */
.work-shape-hero-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.work-shape-hero-only-background-color,
.work-svg-hero-backround-phone-version {
    position: absolute;
    top: 0;
    visibility: collapse;
    width: 100%;
    height: auto;
}

.work-shape-top-left {
    position: absolute;
    top: 5%;
    left: -8%;
    z-index: 50;
}

.work-shape-purple-to-lightPurple {
    position: absolute;
    top: 120%;
    left: -320px;
    opacity: 0.6;
    z-index: -50;
}


.work-shape-purple-to-blue {
    position: absolute;
    top: 170%;
    right: 20px;
    z-index: -50;
}

.work-shape-upper-grid {
    position: absolute;
    top: 280%;
    left: 10px;
    opacity: 0.6;
    z-index: -50;
}

.work-shape-bottom-grid {
    position: absolute;
    top: 330%;
    right: 0%;
    opacity: 0.6;
    z-index: -50;
}

.work-shape-bottem-left-grid {
    position: absolute;
    top: 400%;
    left: 20%;

    z-index: 50;
}


/* Info Section */

/*TODO*/
.work-section-info {
  
    

}


 


.card-web {
    width: auto;
    height: auto;
    min-height: 300px;
}

/* Utilities: 3D Card Effect */
/* Card Strukture */

figure::after,
article figure .image,
article figure .lighting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 30px 30px 0px 0px;
}

article .card-info {
    position: absolute;
    top: 45%;
    height: 55%;
    width: 100%;
    background-color: #EFF9F0;
    border-radius: 0px 0px 30px 30px;
}

article .item-wrapper,
article .card-info {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

article .item-wrapper,
article figure,
article .card-info {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.web-3d {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 35vh;
    height: 40vh;
    -webkit-perspective: 1600px;
    perspective: 1600px;

}

.art-3d {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 100%;
    -webkit-perspective: 1600px;
    perspective: 1600px;
    cursor: pointer;
}

article .item-wrapper {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: #EFF9F0;
    border-radius: 30px 30px 30px 30px;

}

article .item-wrapper::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

article .card-shadow:hover::before {
    box-shadow: 0 14px 64px rgba(0, 0, 0, 0.92);
}

article .item-wrapper.enter.ease,
article .item-wrapper.leave {
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

article figure {
    width: 100%;
    height: 45%;
}

article .purple-stripe {
    width: 100%;
    height: 10px;
    background-color: #CA96F9;
}

article .blue-stripe {
    width: 100%;
    height: 10px;
    background-color: rgb(139, 171, 253);
}


article .outer-circle-web {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    position: absolute;
    top: -38px;
    border-radius: 100%;
    background-color: rgb(139, 171, 253);
}

article .outer-circle-art {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    position: absolute;
    top: -38px;
    border-radius: 100%;
    background-color: #CA96F9;
}

article .inner-circle-web {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    border-radius: 100%;
    background-color: rgb(191, 207, 247);
}

article .inner-circle-art {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    border-radius: 100%;
    background-color: rgb(223, 205, 243);
}

article .laptop-svg {
    position: absolute;
    top: 2px;
    left: 0.3px;
}

article .art-svg {
    position: absolute;
    top: -5px;
    left: 15px;
}

article figure::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.06);
}

article figure .image {
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

article figure .lighting {
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
}

article .card-info {
    pointer-events: none;
    color: #430d82;
}

article .card-info h2 {
    margin-bottom: 5%;
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}

article .card-info p {
    font-size: 13px;
    margin-bottom: 5%;
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

article .card-info .author {
    -webkit-transform: translateZ(70px);
    transform: translateZ(70px);
}

article .card-info .chircle-footer {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
}

/* 3D Effekt for the svg */
article .card-info .laptop-svg,
.art-svg {
    -webkit-transform: translateZ(70px);
    transform: translateZ(70px);
}



@media (max-width: 860px) {
    article {
        width: calc(50vw - 3.9vw);
        height: 38vw;
    }
}

@media (max-width: 667px) {
    article {
        width: calc(100vw - 3.9vw);
        height: 60vw;
    }
}



/* Work Page: Item Grid */



.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
    position: relative;
    background: #CA96F9;
    overflow: hidden;
}

.item::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
    transform: scale(1.2);
}

.item:hover .item-text {
    opacity: 1;
    transform: translateY(0);
}

.item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden;
}

.item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
}

.item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
}

.item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.item-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
}

.item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
}


/* Work Page: Mobile CSS */

/* Work Page: Horizontal Scrolling */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* First Card wich holds info of the shown Website*/
.info-card-horizontal-web-page {
    flex: 0 0 auto;
    display: inline-block;
    width: 22.5vh;
    height: 25vh;

    background: rgb(158, 115, 196);
    background: linear-gradient(150deg, rgba(158, 115, 196, 1) 0%, rgba(211, 176, 212, 1) 100%);
}

.card-horizontal-web-page {
    flex: 0 0 auto;
    display: inline-block;
    width: 30vh;
    height: 20vh;
    object-fit: cover;

    background: rgb(158, 115, 196);
    background: linear-gradient(150deg, rgba(158, 115, 196, 1) 0%, rgba(211, 176, 212, 1) 100%);
}

.card-block {
    height: 20vh ;
    width: 100%;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;

    background: rgb(158, 115, 196);
    background: linear-gradient(150deg, rgba(158, 115, 196, 1) 0%, rgba(211, 176, 212, 1) 100%);

}

.card {
    padding: 0;
    border: transparent;
    background-color: transparent;
}

/* Card Name Color */
.card-name {
    background: rgb(158, 115, 196);
    background: linear-gradient(150deg, rgba(158, 115, 196, 1) 0%, rgba(211, 176, 212, 1) 100%);

}

.img-websites {
    object-fit: cover;
    width: 100%
}

.img-art {
    object-fit: cover;
    width: 100%;
    height: 21vh;
}

.card-info {

    height: 21vh;

    background-color: #9d71c4;
}



.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.horizontal-icons {
    font-size: 8vh;
}

/* ##################################*/
/* #####      Contact Page      #####*/
/* ##################################*/


/* Background */
.contact-page-background {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -10;

    background-color: #78B2C5;
}

.get-in-touch-info-container {
    width: 25%;
    padding-top: 20vh;
    margin-left: 30vh;
}

.get-in-touch-info-container p {
    font-size: 15px;
}

/* Contact Page: Visibility of Footer*/
.footer-basic, .contact-pagination {
    display: none;
}


/* Contact Card */
.card-contact {
    margin-top: 10%;

    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 80%;
    word-wrap: break-word;
    background-color: #EFF9F0;
    background-clip: border-box;
    border-radius: 6px;
}

.card-contact input {
    margin-top: 10px
}

/* Contact Text : Header and Info*/
.contact-header {
    font-size: 90px;
}

.contact-info {
    font-size: 20px;
}

.btn-success {
    color: #fff;
    background-color: #ff5300;
    border-color: #ff5300
}

.btn-success:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff5300;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 255, 255)
}

.contact-svg {
    position: absolute;
    width: 60vh;
    height: 50vh;
    bottom: 0vh;
    left: 15%;
}

.footer-copyright {
    background-color: rgb(118, 118, 220);
}

.contact-page .footer-copyright {
    position: absolute;
    bottom: 0vh;

    width: 100%;
}

@media only screen and (max-width: 900px) {
    .get-in-touch-info-container {
        padding-top: 50px;
        width: 80%;
        margin-left: 5vh;
    }

    .card-contact {
        width: 100%;
        right: 0%;
        top: 60vh;

        border-radius: 6px;
    }

    .contact-svg {
        position: absolute;
        width: 100%;
        height: 50vh;
        bottom: -65vh;
        left: 0vh;
    }

    .contact-page .footer-copyright {
        position: absolute;
        bottom: -70vh;
        height: 10vh;
        width: 100%;
    }
}


/* Contact Page: Mobile Version */ 
@media only screen and (max-width: 900px) {
    .contact-page-background {
        width: 100%;
        height: 100%;
    }

    .svg-contact-page {
 display: none;
    }
    
    .card-contact {
        margin-top: 30%;
    }

    .contact-header {
        font-size: 40px;
    }

    .contact-info {
        font-size: 15px;
    }

  
}





/*++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* HOME PAGE*/




#homepage-overflow-y {
    overflow-y: hidden;
}


/* Hero Home */
.header-home {
    margin-top: 20vh;
    margin-left: 20vh;
    color: #666666;
}

.header-home h3 {
    font-size: 100px;
    letter-spacing: 20px;
    font-family: 'Hammersmith One', sans-serif;
    ;
}

.orange-stripe {
    height: 5px;
    width: 200px;
    background-color: #666666;
}


/* Shapes on the Home Page*/
.homepage {
    overflow: hidden;
}

.home-shape-hero {
    position: absolute;
    right: 5%;
    top: -10vh;

   
}

.home-shape-hero-phone-version {
    position: absolute;
    top: 0vh;
    width: 100%;
    min-width: 350px;
    height: auto;
    visibility: hidden;
    height: 0px;
}

.home-svg-left-stripes {
    position: absolute;
    left: 0px;
    top: 50vh;
    width: 10vh;
    height: auto;

}

.home-background {
    position: absolute;

    top: 0;
    height: 100%;
    bottom: 100%;

    background-color: #5d63bf;
}

.svg-lg-right-background-patterns {
    position: absolute;
    z-index: -10;
    right: -950px;
    top: -600px;
}

.svg-lg-left-background-patterns {
    position: absolute;
    z-index: -10;
    left: 0;
    bottom: 0;

}

/* Home Page: Phone Version */
@media only screen and (max-width: 900px) {
    .phone-version{
        display: block;
    }
  
    .homepage {
        overflow: visible;
    }


    .header-home {
        margin-top: 180%;
        color: #3a1e52 !important;
        margin-left: 0vh;
    }

    .header-home h3 {
        font-size: 70px;
        font-family: 'Hammersmith One', sans-serif;
        ;
    }

    .home-shape-hero {
        visibility: hidden;
        width: 0;
    }

    .home-shape-hero-phone-version {
        visibility: visible;
        height: auto;
    }

    /* Home: Hiding the Background Patterns of the large screen version */
    .svg-lg-right-background-patterns {
        display: none;
    }

    .svg-lg-left-background-patterns {
        display: none;
    }
}

/* Typing Effekt: It creates the white line */
.txt-type>.txt {
    border-right: 0.2rem solid #666666;
    font-size: 30px;
}




/* ABOUT PAGE MOBILE*/
/* For Phones */
@media only screen and (max-width: 900px) {

    .about-me-info-hero {
        margin-top: 20vh;
    }

    .large-screen-version {
        display: none;
    }

    .about-hero-info-remove-padding-phone {
        padding: 0px !important;
        margin-left: 15px;
        margin-right: 40px;
    }

    /* Hero Background: Resize for mobile version */
    .about-shape-hero-background-behind-card {
        height: 200px;
    }


    /* Abaout Page: First Section - */
    .about-mobile-after-hero-info {
        height: auto;
        visibility: visible;
    }

    /* About Page: Hero */
    .about-hero-img {
        width: 80%;
    }

    .card-hero {
        height: auto;
        margin-top: 20vh;
    }

    .hero-background-mobile-version {
        visibility: visible;
        width: 100%;
        top: 0;
        z-index: -1;
    }

    .hero-background-behind-card {
        display: none;
    }

    .only-display-mobile{
        display: block;
    }


    /* About Page: Shapes */
    section .about-shape-hero-background {
        width: 120%;
        height: 120%;
        left: -10%;

        display: none;
    }


    .about-shape-left-hanging-plant {
        opacity: 0.2;
    }

    section .about-shape-hero-left-plant {
        width: 100%;
        height: 100%;
        top: 0%;
        left: -28%;
    }

    section .about-shape-hero-laptop {
        top: 85%;
        left: 10%;
        z-index: 2;
        width: 35%;
        height: 35%;
    }

    section .about-shape-hero-bag {
        width: 40%;
        height: 40%;
        top: 80%;
        right: 8%;
    }

    section .about-shape-hero-bag-plant {
        width: 40% !important;
        height: 40% !important;
        right: 5% !important;
        top: 50% !important;
    }

    section .about-shape-hero-palmleaf {
        visibility: hidden;
    }

    .about-shape-bottom-plant {
        position: absolute;
        top: 220%;
        right: 1000px !important;
        z-index: -1;
    }

    .about-shape-footer-background {
        width: 100%;
        top: 100vh;
        left: 0;
    }

    .about-hero-img-mobile-version {}


    .parallax {
        /* The image used */
        background-image: url("https://images.pexels.com/photos/1534172/pexels-photo-1534172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

        /* Set a specific height */
        height: 120vh;
        width: 50px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: -580px;
    }

    .about-shape-bottom-plant {
        position: absolute;
        top: 380%;
        right: -100px;
        z-index: -1;
    }


}

/* About MOBILE VERSION END */


/* WORK PAGE Phone Responsive */
@media only screen and (max-width: 900px) {
    .work-shape-hero-background {
        visibility: hidden;
    }

    .work-shape-hero-only-background-color {
        visibility: visible;
        position: absolute;
        width: 100vh;
        height: 100%;
        top: 0%;
        right: -20vh;
        z-index: -100;
    }

    .work-svg-hero-backround-phone-version {
        visibility: visible !important;
        position: absolute;
        width: 100vh;
        height: 55vh;
        top: 55vh;
        right: -60%;
        z-index: -100;
    }

    .work-shape-top-left {
        visibility: hidden;
    }

    .work-hero p {
        font-size: 15px;
    }

    .work-section-info p {
        font-size: 15px;
    }

    .work-shape-bottem-left-grid {
        visibility: hidden;
    }

    .items {
        grid-template-columns: 1fr;
    }

    /* Show horizontal skills */
    .skills-lg-screen {
        display: block;
    }
}

/* MOBILE VERSION END */










/* FOOTER */
.footer-basic {
    padding: 40px 0;
    background-color: #198f6c;
  
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(173, 173, 173);
    margin-bottom: 0;
}

.footer-basic, .contact-pagination {
    display: block;
}


/* Credit to https://epicbootstrap.com/snippets/footer-basic */



@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');
 :root {
	 --dark: #333;
	 --light: #fff;
	 --neutral: #f6f6f6;
	 --neutral-dark: #d1d1d1;
	 --color: #5607d7;
	 --color-light: #941ed2;
	 --color-dark: #2719cd;
	 --font-stack: 'Josefin Sans', 'Montserrat', 'sans-serif';
}
 body {
	 background: url('data:image/svg+xml,%3Csvg width="300" height="300" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.1" fill-rule="evenodd"/%3E%3C/svg%3E') fixed;

}

 .hero__wrapper {
	 display: flex;
	 align-items: flex-end;
	 justify-content: center;
	 flex-wrap: wrap;
}

 .hero__wrapper > * {
	 margin: 15px;
}
 .hero__header {
	 flex: 0 1 1px;
	 padding-right: 50px;
	 color: var(--dark);
	 font-size: 8vmax;
}
 .hero__phone {
	 width: 300px;
	 height: 630px;
	 background: var(--light);
	 background-color: #fff;
	 background: #fff url('https://codepenworldsfair.com/images/small-worlds-fair.png') center/250px no-repeat;
	 border: 12px solid var(--dark);
	 border-radius: 36px;
	 position: relative;
	 overflow: hidden;
}
 .hero__phone:before {
	 content: '';
	 width: 175px;
	 height: 25px;
	 background: var(--dark);
	 border-bottom-right-radius: 20px;
	 border-bottom-left-radius: 20px;
	 position: absolute;
	 top: 0;
	 left: 50%;
	 transform: translatex(-50%);
	 z-index: 10;
}
 .hero__phone:after {
	 content: '';
	 width: 100px;
	 height: 5px;
	 background: var(--dark);
	 border-radius: 2px;
	 position: absolute;
	 bottom: 6px;
	 left: 50%;
	 transform: translatex(-50%);
	 z-index: 10;
}
 .menu__button {
	 --x: -50%;
	 --y: 0;
	 --z: 0;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 background: linear-gradient(to right, var(--color-light), var(--color-dark));
	 padding: 10px 20px;
	 border-radius: 28px;
	 box-shadow: 0 2px 40px -10px var(--color);
	 color: var(--light);
	 font-size: 16px;
	 white-space: nowrap;
	 position: absolute;
	 bottom: 30px;
	 left: 50%;
	 transform: translate3d(var(--x), var(--y), var(--z));
	 cursor: pointer;
	 z-index: 105;
	 transition: 0.5s cubic-bezier(0.33, 1, 0.53, 1);
}

.menu__button:hover {
    box-shadow: 0 5px 80px 5px var(--color);
    background: linear-gradient(to right, #5313a7, #7700ff);
}

 .menu__button[hidden] {
	 --y: 200%;
}

 .menu__button div {
	 display: flex;
	 align-items: center;
	 width: 12px;
	 height: 12px;
	 margin-right: 20px;
}

 .menu__button div div {
	 display: table;
	 height: 1px;
	 background: var(--light);
	 box-shadow: 0 4px 0 var(--light), 0 -4px 0 var(--light);
}

 .menu__overlay-test {
	 width: 100%;
	 height: 100%;
	 background: rgba(0, 0, 0, .1);
	 position: absolute;
	 z-index: 5;
}

 .menu__body {
	 --x: 0;
	 --y: 0;
	 --z: 0;
	 display: block;
	 width: 100%;
	 background: var(--light);
	 padding-bottom: 15px;
	 border-top-left-radius: 20px;
	 border-top-right-radius: 20px;
	 box-shadow: 0px -9px 50px -30px black;
	 font-family: 'Montserrat', sans-serif;
	 position: absolute;
	 bottom: 0;
	 z-index: 10;
	 transform: translate3d(var(--x), var(--y), var(--z));
	 transition: 0.2s cubic-bezier(0.33, 1, 0.53, 1);
}

 .menu__body[hidden] {
	 --y: 150%;
     
}

 .menu__body > *:not(:last-child) {
	 border-bottom: 2px solid var(--neutral);
}
 .menu__header {
	 display: flex;
	 justify-content: space-between;
	 padding: 15px 20px;
}
 .menu__header label div {
	 width: 15px;
	 height: 15px;
	 border: 2px solid var(--dark);
	 border-radius: 50%;
	 position: relative;
	 transform: rotate(5.5rad);
}
 .menu__header label div:after {
	 content: '';
	 width: 2px;
	 height: 10px;
	 background: var(--dark);
	 position: absolute;
	 top: 100%;
	 left: 50%;
	 transform: translateX(-50%);
}
 .menu__header p {
	 font-size: 18px;
	 font-weight: bold;
	 vertical-align: center;
	 white-space: nowrap;
}
 .menu__header h3 {
	 font-weight: normal;
}
 .menu__header button {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 25px;
	 height: 25px;
	 background: var(--neutral-dark);
	 border-radius: 50%;
	 cursor: pointer;
}
 .menu__header button div {
	 width: 15px;
	 height: 3px;
	 background: var(--light);
	 position: relative;
	 transform: rotate(5.5rad);
}
 .menu__header button div:before {
	 content: '';
	 width: 3px;
	 height: 15px;
	 background: var(--light);
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 .menu__links {
	 display: flex;
	 padding: 10px 15px;
	 font-weight: bold;
	 overflow-x: auto;
}
 .menu__links a {
	 flex: 1 1 1px;
	 padding: 10px 8px;
	 color: var(--dark);
	 text-decoration: none;
	 white-space: nowrap;
}
 .menu__contact {
	 display: flex;
	 padding: 8px;
}
 .menu__contact svg {
	 width: 100%;
	 fill: var(--color);
}
 .menu__contact a {
	 flex: 1 1 30%;
	 padding: 5px;
	 margin: 5px;
	 border-radius: 8px;
	 background: var(--neutral);
	 color: var(--color);
	 text-align: center;
	 font-size: 14px;
	 font-weight: bold;
}
  

@media only screen and (max-width: 900px) {
    .home-phone-footer {
        display: block !important;
    }

    .svg-blob-orange {
        left: -50px !important;
        top: -5px !important;       
    }

    .svg-blob-green {
        display: none !important;
    }
}


